.dropdown-toggle, .dropdown-item-toggle {
    cursor: pointer;
    text-decoration: none;
}

img{
    max-height: 50px;
    margin-right: 5px;
    margin-left:15px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    display: inline;
}